.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #d6e4d4;

}

.form-wrapper{
    
    display: flex;
    flex-direction: column;
    background: #f7fff5;
    padding: 5rem;
    border-radius: 8px;
    justify-content: space-between;
    
}

.form-container .form-wrapper .input-wrapper{
    margin-bottom: 15px;

}

input, textarea{
    border-radius: 15px;
    width: 300px;
    height: 35px;
    border: 1px solid #aefa9b;
    margin-top: 4px;
    
}
h3{
    text-align: center;
    color: #aefa9b;
}
.btn{
    color: green;
}