.body-wrapper{
    display: flex;
    flex: 10;
    flex-direction: row;
    height: 100vh;

}
body{
    padding: 0;
    background: #fafafa;
    margin: 0;
}
.body-wrapper .left{
    flex: 1.5;
}
.body-wrapper .right{
    flex: 8.5;
}